
body {
  max-width: 1024px;
  background: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  max-height: 6%;
  min-width: 100%;
  padding-bottom: .5%;
  background: #323232;
  color: whitesmoke;
}

header > h4 {
  margin: .5%;
  padding-bottom: .1%;
}

* a {
  text-decoration: none;
  color: lightslategray;
}

nav a {
  padding: .2%;
  margin: 0 .5%;
  text-decoration: none;
  color: whitesmoke;

  border: 1px solid lightslategray;
  border-radius: 20%;
}

nav a:hover {
  color: #2eb398;
}

.contacts {
  display: flex;
  margin: 0 auto;
  margin-top: 6%;
  padding-bottom: 0.5%;
  font-size: 16px;
  border-bottom: 1px solid #323232;
}

.contacts > * {
  padding: 1%;
}

section {
  padding-bottom: 0.5%;
  border-bottom: 1px solid #323232;
}

footer {
  max-height: 5%;
  min-width: 100%;
  background: #323232;
  color: whitesmoke;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}
